body {
  background : #eee;
	margin-top: 0;
}
#talvos > :first-child {
	/* height : 500px; */
	display: grid;
	grid-template-columns: min-content minmax(180px, 1fr);
	justify-content: start;
}
#talvos > :first-child > * {
	padding: 0 1em;

}
textarea.inactive {
	resize: none;
	height: fit-content;
}
textarea {
	/* width : 100%; */
	width : 860px;
	height : 500px;
}
.vis-wip textarea {
	height: 220px;
	width : 110px;
}
#controls {
  text-align : center;
  background : #ccc;
  padding : .5em 0;
}
#controls select {
	float: inline-start;
  margin : 0 1em;
}
#controls button {
  margin : 0 1em;
}
#controls div {
	padding-top: 0.5em;
}
output.stdio {
	font-family: monospace;
	white-space: pre;
}

nav {
	background: #77889e65; /* color chosen by fair random die roll */
	margin-left: -8px;
	margin-right: -8px;
	padding-right: 16px;
	width: 100%;
	display: inline-block;
	margin-bottom: 0.5em;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0.1em;
	margin-left: 0.4em;
}

nav li {
	display: inline-block;
}

nav li:not(:last-child) a::after  {
	display: inline-block;
	color: #000;
	content: '|';
	font-size: 120%;
	padding: 0 3px;
}

.buffers ol {
	counter-reset: item -1;
	margin-left: 0;
	padding-left: 0;
	font-family: monospace;
}

.buffers li {
	display: block;
	/* margin-bottom: .5em; */
	margin-left: 2em;
}

.buffers li::before {
	content: ".[" counter(item) "] = ";
	color: grey;
	counter-increment: item
}
.buffers li[data-prev]::after {
	content: " (was: " attr(data-prev) ")";
	color: lightslategrey;
}
.hidden {
	display: none;
}
