body {
  background : #eee;
}
#talvos > :first-child {
	/* height : 500px; */
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#talvos > :first-child > * {
	padding: 0 1em;

}
textarea.inactive {
	resize: none;
	height: fit-content;
}
textarea {
	width : 100%;
	height : 500px;
}
#controls {
  text-align : center;
  background : #ccc;
  padding : .5em 0;
}
#controls button {
  margin : 0 1em;
}
#controls div {
	padding-top: 0.5em;
}
